<div class="dashboard">
  <div class="row">
    <%= render 'shared/sidenav' %>

    <div class="col-sm-10 p-5">
      <h1 class="mb-5">Add a Note</h1>
        <%= simple_form_for [@card, @note] do |f| %>
          <%= f.input :page, label: 'Page Number' %>
          <%= f.input :quote, label: 'Write down your Quote' %>
          <%= f.input :remark, label: 'Write down your Note' %>
          <%= f.input :screenshot %>
          <%= f.input :screenshot_cache, as: :hidden %>
          <div class="mt-5">
            <%= f.submit "Add a Note", class: "button-paleaqua" %>
          </div>
        <% end %>
      <div class="mt-5">
        <%= link_to "Back", card_path(@card) %>
      </div>
    </div>
  </div>
</div>
