<div class="dashboard">
  <div class="row">
    <%= render 'shared/sidenav' %>

    <div class="col-sm-10 pl-0">
      <div class="row p-4">
        <div class="col p-3 mx-2 dashboard-stats">
          <h6>ARTICLES READ THIS MONTH</h6>
          <% if @articles_read_month.nil? %>
            <h1>0</h1>
          <% else %>
            <h1><%= @articles_read_month.count %></h1>
          <% end %>
        </div>
        <div class="col p-3 mx-2 dashboard-stats">
          <h6>AVERAGE ARTICLES READ PER MONTH</h6>
          <% if @articles_read_month.nil? %>
            <h1>0</h1>
          <% else %>
            <h1><%= @articles_read_average_month %></h1>
          <% end %>
        </div>
        <div class="col p-3 mx-2 dashboard-stats">
          <h6>TOTAL ARTICLES READ</h6>
          <h1><%= @article_cards.count %></h1>
        </div>
      </div>

      <div class="row px-4 pb-4">
        <div class="col dashboard-table p-3 mx-2">
          <div class="d-flex justify-content-between">
            <div>
              <h6>YOUR ARTICLE CARDS</h6>
            </div>

            <div class="d-flex align-items-center">
              <%= form_tag articles_path, class: "mr-2", method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-bar",
                  placeholder: "Find an article"
                %>
              <% end %>

              <%= link_to "+ article card", new_user_card_path(current_user, category: "Article"), class: "button-platinum mr-2" %>
            </div>
          </div>
          <% if @article_cards.empty? %>
            <p>No articles yet! Hurry to read one!</p>
          <% else %>
            <table class="table mt-5">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">TITLE</th>
                  <th scope="col">AUTHOR</th>
                  <th scope="col">BEGIN DATE</th>
                  <th scope="col">END DATE</th>
                  <th scope="col">RATING</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @article_cards.each_with_index do |card, index| %>
                  <tr>
                    <th scope="row"><%= index %></th>
                    <td>
                      <%= link_to card_path(card) do %>
                        <%= card.title %>
                      <% end %>
                    </td>
                    <td><%= card.author %></td>
                    <td><%= card.begin %></td>
                    <td><%= card.finished %></td>
                    <td><%= card.rating %></td>
                    <td>
                      <%= link_to "Edit", edit_card_path(card) %>
                      <%= link_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?"} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


