<div class="dashboard">
  <div class="row">
    <%= render 'shared/sidenav' %>

    <div class="col-sm-10 pl-0">
      <div class="row p-4">
        <div class="col p-3 mx-2 dashboard-item">
          <div class="col p-3 mx-2 dashboard-stats">
            <h6>BOOKS READ</h6>
            <% if @user_book_cards.nil? %>
              <h1>0</h1>
            <% else %>
              <h1><%= @user_book_cards.count %></h1>
            <% end %>
          </div>

          <div class="col dashboard-table p-3 mx-2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6>YOUR BOOK CARDS</h6>
              </div>

              <div class="d-flex align-items-center">
                <%= link_to "+ book card", new_user_card_path(current_user, category: "Book"), class: "button-platinum mr-2" %>
              </div>
            </div>
            <% if @recent_book_cards.empty? %>
              <p>No books yet! Hurry to read one!</p>
            <% else %>
              <table class="table mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">AUTHOR</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recent_book_cards.each_with_index do |card, index| %>
                    <tr>
                      <th scope="row"><%= index %></th>
                      <td>
                        <%= link_to card_path(card) do %>
                          <%= card.title %>
                        <% end %>
                      </td>
                      <td><%= card.author %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>


        <div class="col p-3 mx-2 dashboard-item">

          <div class="col p-3 mx-2 dashboard-stats">
            <h6>ARTICLES READ</h6>
            <% if @user_article_cards.nil? %>
              <h1>0</h1>
            <% else %>
              <h1><%= @user_article_cards.count %></h1>
            <% end %>
          </div>

          <div class="col dashboard-table p-3 mx-2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6>YOUR ARTICLE CARDS</h6>
              </div>

              <div class="d-flex align-items-center">
                <%= link_to "+ article card", new_user_card_path(current_user, category: "Article"), class: "button-platinum mr-2" %>
              </div>
            </div>
            <% if @recent_article_cards.empty? %>
              <p>No articles yet! Hurry to read one!</p>
            <% else %>
              <table class="table mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">AUTHOR</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recent_article_cards.each_with_index do |card, index| %>
                    <tr>
                      <th scope="row"><%= index %></th>
                      <td>
                        <%= link_to card_path(card) do %>
                          <%= card.title %>
                        <% end %>
                      </td>
                      <td><%= card.author %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>

        </div>

        <div class="col p-3 mx-2 dashboard-item">

          <div class="col p-3 mx-2 dashboard-stats">
            <h6>MAGAZINES READ</h6>
            <% if @user_magazine_cards.nil? %>
              <h1>0</h1>
            <% else %>
              <h1><%= @user_magazine_cards.count %></h1>
            <% end %>
          </div>

          <div class="col dashboard-table p-3 mx-2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6>YOUR MAGAZINE CARDS</h6>
              </div>

              <div class="d-flex align-items-center">
                <%= link_to "+ magazine card", new_user_card_path(current_user, category: "Magazine"), class: "button-platinum mr-2" %>
              </div>
            </div>
            <% if @recent_magazine_cards.empty? %>
              <p>No magazines yet! Hurry to read one!</p>
            <% else %>
              <table class="table mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">AUTHOR</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recent_magazine_cards.each_with_index do |card, index| %>
                    <tr>
                      <th scope="row"><%= index %></th>
                      <td>
                        <%= link_to card_path(card) do %>
                          <%= card.title %>
                        <% end %>
                      </td>
                      <td><%= card.author %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
