<div class="dashboard">
  <div class="row">
    <%= render 'shared/sidenav' %>

    <div class="col-sm-10 pl-0">
      <div class="row p-4">
        <div class="col p-3 mx-2 dashboard-stats">
          <h6>MAGAZINES READ THIS MONTH</h6>
          <% if @magazines_read_month.nil? %>
            <h1>0</h1>
          <% else %>
            <h1><%= @magazines_read_month.count %></h1>
          <% end %>
        </div>
        <div class="col p-3 mx-2 dashboard-stats">
          <h6>AVERAGE MAGAZINES READ PER MONTH</h6>
          <% if @magazines_read_month.nil? %>
            <h1>0</h1>
          <% else %>
            <h1><%= @magazines_read_average_month %></h1>
          <% end %>
        </div>
        <div class="col p-3 mx-2 dashboard-stats">
          <h6>TOTAL MAGAZINES READ</h6>
          <h1><%= @user_magazine_cards.count %></h1>
        </div>
      </div>

      <div class="row px-4 pb-4">
        <div class="col dashboard-table p-3 mx-2">
          <div class="d-flex justify-content-between">
            <h6>YOUR MAGAZINE CARDS</h6>
            <%= link_to "+ magazine card", new_user_card_path(current_user, category: "Magazine"), class: "button-platinum mr-2" %>
          </div>
          <% if @magazine_cards.empty? %>
            <p>No magazines yet! Hurry to read one!</p>
          <% else %>
            <table class="table mt-5">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">TITLE</th>
                  <th scope="col">AUTHOR</th>
                  <th scope="col">BEGIN DATE</th>
                  <th scope="col">END DATE</th>
                  <th scope="col">RATING</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @magazine_cards.each_with_index do |card, index| %>
                  <tr>
                    <th scope="row"><%= index %></th>
                    <td>
                      <%= link_to card_path(card) do %>
                        <%= card.title %>
                      <% end %>
                    </td>
                    <td><%= card.author %></td>
                    <td><%= card.begin %></td>
                    <td><%= card.finished %></td>
                    <td><%= card.rating %></td>
                    <td>
                      <%= link_to "Edit", edit_card_path(card) %>
                      <%= link_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?"} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
